section(class='lazy_contentSection ' +mainSection)
	div(class=container)
		div(class=mainSectionWrapper+ " lazy_content")
			if (mainPage)
				include ../../modules/includes/sliders/sliderOffers/sliderOffers
