-
	let swiperOfferText = {
		slide1H2: 'Создание сайтов под параметры ЯНДЕКС и GOOGLE',
		slide1Paraghraph1: 'Создали сайт, но клиентов не прибавилось?',
		slide1Paraghraph2: 'Перестаёте вкладывать деньги в рекламу сайта и сразу останавливается поток заявок?',
		slide1Link2: 'параграф сайта Предложение слайд2 - p',

		slide2H2: 'Перестаёте вкладывать деньги в рекламу сайта и сразу останавливается поток заявок?',
		slide2Paraghraph1: 'параграф сайта Предложение слайд2 - p1',
		slide2Paraghraph2: 'параграф сайта Предложение слайд2 - p2',
		slide2Link2: 'параграф сайта Предложение слайд2 - p',

		slide3H2: 'НА ЭТОМ ОБЖИГАЮТСЯ МНОГИЕ!',
		slide3Paraghraph1: 'В первый раз у нас? Получи базовую настройку рекламы бесплатно!',
		slide3Paraghraph2: 'параграф сайта Предложение слайд3 - p2',
		slide3Link2: 'параграф сайта Предложение слайд3 - p',
	}

-
	let swiperCaseText = {
		slide1H2: 'заголовок сайта Предложение слайд1 - h2 - заголовок первый',
		slide1Paraghraph1: 'параграф сайта Предложение слайд1 - p1',
		slide1Paraghraph2: 'параграф сайта Предложение слайд1 - p2',
		slide1Link2: 'aqualife.kg',

		slide2H2: 'заголовок сайта Предложение слайд2 - h2 - заголовок первый',
		slide2Paraghraph1: 'параграф сайта Предложение слайд2 - p1',
		slide2Paraghraph2: 'параграф сайта Предложение слайд2 - p2',
		slide2Link2: 'параграф сайта Предложение слайд2 - p',

		slide3H2: 'заголовок сайта Предложение слайд3 - h2 - заголовок первый',
		slide3Paraghraph1: 'параграф сайта Предложение слайд3 - p1',
		slide3Paraghraph2: 'параграф сайта Предложение слайд3 - p2',
		slide3Link2: 'параграф сайта Предложение слайд3 - p',
	}

-
	let itroMainText = {
		h1: 'Разработка прибыльных коммерческих сайтов',
		p1: 'EaseWeb | Современно. Качественно. С результатом',
		p2: 'прокачай сайт по требованиям поиска и получи заявки',
	}

-
	let intro2SectionText = {
		h2: 'Создание сайта - первый шаг к успеху в вашем бизнесе!',
		p1: 'Мы предлагаем только проверенные временем решения для бизнеса:',
		li1: 'Сайты-визитки',
		li2: 'Корпоративные сайты',
		li3: 'Каталоги',
		li4: 'Интернет магазины',
		li5: 'Имиджевые и промосайты',
		li6: 'Продающие страницы (Landing Page)',
		li7: 'Сайты с готовыми решениями',
	}

-
	let stepsWorkingText = {
		h2: 'Порядок работ',
		h3__1: 'Подготовка',
		h3__2: 'Дизайн',
		h3__3: 'Программирование',
		h3__4: 'Запуск',

		li1__1: 'Заполнение Брифа',
		li1__2: 'Определение целей и задач проекта',
		li1__3: 'Разработка структуры сайта',
		li1__4: 'Написание технического задания',
		li1__5: 'Сбор материалов. Написание текста для сайта',

		li2__1: 'Разработка и утверждение прототипа сайта',
		li2__2: 'Определение целей и задач проекта',
		li2__3: 'Создание дизайн-макета сайта',
		li2__4: 'Дизайн страниц для смартфонов и планшетов',
		li2__5: 'Утверждение дизайна',

		li3__1: 'Верстка дизайн-макета',
		li3__2: 'Интеграция в систему управления',
		li3__3: 'Разработка дополнительных модулей',
		li3__4: 'Подключение счетчиков и социальных сервисов',
		li3__5: 'Проверка и тестирование',

		li4__1: 'Заполнение сайта материалами заказчика',
		li4__2: 'Размещение сайта на хостинг-площадке',
		li4__3: 'Регистрация в поисковых системах',
		li4__4: 'Запуск сайта!',
	}

-
	let personalSectionText = {
		h2: 'Над Вашим проектом будут работать:',

		h3__1: 'Менеджер проекта',
		h3__2: 'Дизайнер',
		h3__3: 'Верстальщик',
		h3__4: 'Программист',
		h3__5: 'Контент менеджер',
		h3__6: 'Специалист по контекстной рекламе',
		h3__7: 'Бэкенд-программист',

		p1__1: 'Всегда на связи! Готов ответить на все вопросы, которые обязательно возникнут в процессе работы.',
		p1__2: 'Создаст дизайн по Вашим предпочтениям, который обязательно Вам понравится.',
		p1__3: 'Сверстает сайт для корректной работы на всех устройствах.',
		p1__4: 'Создаст в сайте интерактивность и взаимодействие с пользователем.',
		p1__5: 'Наполнит сайт продающими статьями и запоминающимися графическими материалами.',
		p1__6: 'Настроит рекламу на Ваш сайт, чтобы получать заявки и иметь поток продаж',
		p1__7: 'Настраивает работу серверов и упрощает взаимодейсвтие пользователя с функциями сайта',
	}

-
	let priceSectionText = {
		h2: 'Стоимость работ',

		p1__1: 'Большинство клиентов первым делом интересуются у наших менеджеров из отдела продаж «А сколько стоит создать сайт?». Сайт включает в себя: дизайн, верстку, программирование, наполнение, домен, хостинг. То есть в конце всех работ Вы получите полностью готовый сайт для Вашего бизнеса..',
		p1__2: 'На стоимость сильно влияет разработка дизайна. Она же и отнимает время при согласовании. С этой точки зрения разработанные нами решения с готовой структурой более привлекательны по цене и скорости, но уступают индивидуальным решениям, так как не всегда подходят полностью. С основными ценами Вы можете ознакомиться ниже.',
	}

-
	let offerSectionText = {
		h2: 'Наши предложения',

		h3__1: 'Лендинг',
		h3__2: 'Сайт-визитка',
		h3__3: 'Интернет магазин ',

		p1__1: 'Срок создания от 20 дней ',
		p1__2: 'Срок создания от 30 дней ',
		p1__3: 'Срок создания от 60 дней ',

		li1__1: 'Индивидуальный дизайн и структура по Вашему желанию',
		li1__2: 'Адаптивная верстка под любые устройства',
		li1__3: 'Домен и хостинг на 1 год',
		li1__4: 'Написание технического задания',
		li1__5: 'Сбор материалов. Написание текста для сайта',

		li2__1: 'Торговый каталог',
		li2__2: 'Фильтрация товаров по параметрам',
		li2__3: 'Онлайн оплата через сайт с выдачей чека клиенту',
		li2__4: 'Дизайн страниц для смартфонов и планшетов',
		li2__5: 'Утверждение дизайна',

		li3__1: 'Верстка дизайн-макета',
		li3__2: 'Интеграция в систему управления',
		li3__3: 'Разработка дополнительных модулей',
		li3__4: 'Подключение счетчиков и социальных сервисов',
		li3__5: 'Проверка и тестирование',

		li4__1: 'Заполнение сайта материалами заказчика',
		li4__2: 'Размещение сайта на хостинг-площадке',
		li4__3: 'Регистрация в поисковых системах',
		li4__4: 'Запуск сайта!',

		button: 'Подробнее',

		price1: 'Стоимость - 30k',
		price2: 'Стоимость - 35k',
		price3: 'Стоимость - 80k',
	}

-
	let tarrifSectionText = {
		h2: 'Наши предложения',

		h3__1: 'Корпоративный сайт - Эксклюзив',
		h3__2: 'Интернет магазин – Готовое решение',
		h3__3: 'Интернет магазин - Эксклюзив',
		h3__4: 'Интернет магазин - Эксклюзив',

		p1__1: 'Срок создания от 20 дней ',
		p1__2: 'Срок создания от 60 дней ',
		p1__3: 'Срок создания от 30 дней ',
	}

-
	let feedBackText = {
		h2: 'Отзывы',

		h3__1: 'Корпоративный сайт - Эксклюзив',
		h3__2: 'Интернет магазин – Готовое решение',
		h3__3: 'Интернет магазин - Эксклюзив',
		h3__4: 'Интернет магазин - Эксклюзив',

		p1__1: 'Срок создания от 20 дней ',
		p1__2: 'Срок создания от 60 дней ',
		p1__3: 'Срок создания от 30 дней ',
	}

-
	let feedBackTextPersons = {
		h2__1: 'Степанова Елена',
		h2__2: 'Лугинин Анатолий',
		h2__3: 'Ева Ростиславская',

		p1__1: 'Пришли с дочкой ради облаков в зале – остались благодаря шикарным десертам и быстрому обслуживанию. Молочные коктейли и торты одни из самых вкусных в городе. Официант Илья оставил приятное впечатление. Обязательно вернемся снова! ',
		p1__2: 'Срок создания от 60 дней ',
		p1__3: 'Срок создания от 30 дней ',
	}

-
	let caseText= {
		p1__1: 'Аквафильтры ',
		p1__2: 'Материнские платы',
		p1__3: 'Карточки nft',
		p1__4: 'Мета вселенная',
		p1__5: 'Портфолио',
		p1__6: 'Компьютер',
		p1__7: 'Ювеллирные изделия',
	}

-
	let titlesMain= {
		h1: 'easeeweb',
		h1_1: 'разработка сайтов',
	}

-
	let footerMain= {
		p1_1: '©EASEWEB, 2022',
		polite: 'Политика конфиденциальности',
		tel: '+79998017844',
		link__1: 'Главная',
		link__2: 'Продвижение сайта',
		link__3: 'Разработка сайта',
		link__4: 'Дополнительные задачи',
	}
