if mainPage
	div(class=logoClasses[0] + ' logo-mb')
		a(class=logoClasses[1] href="#no__scroll")
			+icon(
				logoIcons.viewBox,
				'50px',
				'50px',
				logoIcons.id,
			)

if anotherPage
	div(class=logoClasses[0] + ' logo-mb')
		a(class=logoClasses[1] href="#no__scroll")
			+icon(
				logoIcons.viewBox,
				'50px',
				'50px',
				logoIcons.id = logoIconsPath2,
			)