-   let formName= 'form'
-   let formAction= 'formUrl'
-   let formID= 'formID'
-   let formWrapper= 'form-wrapper'
-   let get = 'GET'
-   let post = 'POST'
-   let submit = 'submit'
-   let inputPhone = 'inputPhone'
-   let inputEmail = 'inputEmail'
-   let label = 'formLabel'
-   let input = 'formInput'
-   let buttonFormSubmit = 'buttonFormSubmit'

-   let inputWrapper = 'input-wrapper'
-   let inputRadioBtn = 'input-RadioBtn'

//- inro-section form

-   let introFormID = 'introFormID'
-   let introFormName = 'introFormName'
-   let introSectionAdressPhp = 'urlPHP'
-   let introSubmit = 'introSubmit'