-   let swiperOffer = 'swiper-offer'
-   let swiperMain = 'swiper-main'

//- defaultClasses
-   let swiperWrapper = 'swiper-wrapper'
-   let swiperSlide = 'swiper-slide'
-   let swiperSlideActive = 'swiper-slide-active'
-   let swiperPagination = 'swiper-pagination'
-   let swiperButtonPrev = 'swiper-button-prev'
-   let swiperButtonNext = 'swiper-button-next'
-   let swiperScrollbar = 'swiper-scrollbar'
-   let swiperTextWrapper = 'swiper-text-wrapper'
-   let swiperSliderImage = 'swiper-image-wrapper'
-   let swiperPreloader = 'swiper-lazy-preloader'
-   let swiperLazy = 'swiper-lazy'

//- SwiperMain
-   let mainWrapper = 'swiper-main__wrapper'
-   let mainSlide= 'swiper-main__slide'
-   let classSliderMain= 'swiper' + ' swiper-main'
-   let classSliderMainWrapper= swiperWrapper + ' ' + mainWrapper
-   let classSliderMainSlide= swiperSlide + ' swiper-main__slide'
-   let classSliderMainSlideActive= swiperMain + ' swiper-main__slide ' + swiperSlideActive
-   let classSliderMainSlideWrapper=  'swiper-main__slide-wrapper'
-   let classSliderMainSlideInner= ' swiper-main__slide-inner'
-   let classSliderMainSlideText= ' swiper-main__slide-text-wrapper'
-   let classSliderMainSlideBlock=' swiper-main__slide-block'
-   let classSliderMainSlideImageWrapper= ' swiper-main__slide-wrapper-image'
-   let classMainWrapperAll = 'swiperMain-wrapperAll'

//- SwiperOffer
-   let offerWrapper = 'swiper-offer__wrapper'
-   let offerSlide= 'swiper-offer__slide'
-   let classSliderOffer= 'swiper' + ' swiper-offer'
-   let classSliderOfferWrapper= swiperWrapper + ' ' + offerWrapper
-   let classSliderOfferSlide= swiperSlide + ' swiper-offer__slide'
-   let classSliderOfferSlideActive= swiperMain + ' swiper-offer__slide ' + swiperSlideActive
-   let classSliderOfferSlideWrapper=  'swiper-offer__slide-wrapper'
-   let classSliderOfferSlideInner= ' swiper-offer__slide-inner'
-   let classSliderOfferSlideText= ' swiper-offer__slide-text-wrapper'
-   let classSliderOfferSlideBlock=' swiper-offer__slide-block'
-   let classSliderOfferSlideImageWrapper= ' swiper-offer__slide-wrapper-image'
-   let classOfferWrapperAll = 'swiperOffer-wrapperAll'

//- SwiperCase
-   let caseWrapper = 'swiper-case__wrapper'
-   let caseSlide= 'swiper-case__slide'
-   let classSliderCase= 'swiper' + ' swiper-case'
-   let classSliderCaseWrapper= swiperWrapper + ' ' + caseWrapper
-   let classSliderCaseSlide= swiperSlide + ' swiper-case__slide'
-   let classSliderCaseSlideActive= swiperCase + ' swiper-case__slide ' + swiperSlideActive
-   let classSliderCaseSlideWrapper=  'swiper-case__slide-wrapper'
-   let classSliderCaseSlideInner= ' swiper-case__slide-inner'
-   let classSliderCaseSlideText= ' swiper-case__slide-text-wrapper'
-   let classSliderCaseSlideBlock=' swiper-case__slide-block'
-   let classSliderCaseSlideImageWrapper= ' swiper-case__slide-wrapper-image'
-   let classCaseWrapperAll = 'swiperCase-wrapperAll'

//- SwiperFeedback
-   let SliderFeedBack = ' swiper-FeedBack'
-   let FeedBackWrapper = ' swiper-FeedBack__wrapper'
-   let FeedBackSlide= ' swiper-FeedBack__slide'
-   let classSliderFeedBack= ' swiper' + ' swiper-FeedBack'
-   let classSliderFeedBackWrapper= swiperWrapper + ' ' + FeedBackWrapper
-   let classSliderFeedBackSlide= swiperSlide + ' swiper-FeedBack__slide'
-   let classSliderFeedBackSlideActive= swiperFeedBack + ' swiper-FeedBack__slide ' + swiperSlideActive
-   let classSliderFeedBackSlideWrapper=  ' swiper-FeedBack__slide-wrapper'
-   let classSliderFeedBackSlideInner= ' swiper-FeedBack__slide-inner'
-   let classSliderFeedBackSlideText= ' swiper-FeedBack__slide-text-wrapper'
-   let classSliderFeedBackSlideBlock=' swiper-FeedBack__slide-block'
-   let classSliderFeedBackSlideImageWrapper= ' swiper-FeedBack__slide-wrapper-image'
-   let classFeedBackWrapperAll= ' swiperFeedBack-wrapperAll'

//- Sliders ID
-   let swiperMainID = 'swiperMain'
-   let swiperOfferID = 'swiperOffer'
-   let swiperFeedBackID = 'swiperFeedBack'
-   let swiperCaseID = 'swiperCase'
-   let swiperIntroID = 'swiperIntro'
-   let swiperPromoID = 'swiperPromo'

//- SwiperIntro
-   let classSliderIntro= swiper + ' ' + swiper + '-' + intro + ' ' + main

