if seoPage
	div(class=ClassTarifsHelpSection__imageWrapper)
		video(autoplay loop muted)
			source(src="../video/planeskyGif.webm" type="video/webm")
			source(src="../video/planeskyGif.mp4" type="video/mp4")
if developPage
	div(class=ClassTarifsHelpSection__imageWrapper+' developTarifHelp__imageWrapper')
		video(autoplay loop muted)
			source(src="../video/webdemoGif.webm" type="video/webm")
			source(src="../video/webdemoGif.mp4" type="video/mp4")
if addTasksPage
	div(class=ClassTarifsHelpSection__imageWrapper + ' addTasksTarifHelp__imageWrapper')
		video(autoplay loop muted)
			source(src="../video/comments1080x1080.webm" type="video/webm")
			source(src="../video/comments1080x1080.mp4" type="video/mp4")