-   let button = 'button'
-   let typeText = 'text'
-   let typeButton = 'button'
-   let typeRadio = 'radio'
-   let menuButton = 'menuButton'
-   let menubtn = 'menuBtn'
-   let popupCallButtonCLoseID = 'popupCallBtnCloseID'