.swiper-offer {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    color: $white;

    &__wrapper {
        min-height: 300px;
        max-height: 450px;
    }

    &__slide {
        min-height: 350px;

        @include media('>=phone') {
            min-height: 380px;
        }

        @include media('>=tablet') {
            min-height: 450px;
        }

        @include media('>=desktop') {
            min-height: 600px;
        }
    }

    &__slide.slide1,
    &__slide.slide2,
    &__slide.slide3 {
        background-size: cover;
        background-position: center;
    }

    &__slide.slide1 {
        background-image: url('../../images/content/bg-2-mb.jpg');
      
        @include media(">=tablet") { 
            background-image: url('../../images/content/bg-2-tb.jpg');
        }

        @include media(">=desktop") { 
            background-image: url('../../images/content/bg-2.jpg');
        }
    }

    &__slide.slide2 {
        background-image: url('../../images/content/bg-3-mb.jpg');
        background-position: -150px;

        @include media(">=phone") { 
            background-position: 10%;
        }
        
        @include media(">=tablet") { 
            background-image: url('../../images/content/bg-3-tb.jpg');
        }

        @include media(">=desktop") { 
            background-image: url('../../images/content/bg-3.jpg');
        }
    }

    &__slide.slide3 {
        background-image: url('../../images/content/bg-4-mb.jpg');
        background-position: 90%;

        @include media(">=phone") { 
            background-position: 70%;
        }

        @include media(">=tablet") { 
            background-position: 100%;
            background-image: url('../../images/content/bg-4-tb.jpg');
        }

        @include media(">=desktop") { 
            background-position: 0;
            background-image: url('../../images/content/bg-4.jpg');
        }
    }

    .swiper-text-wrapper {
        text-align: right;
    }

    .swiper-image-wrapper {
        max-width: 350px;
    }

    .paragaraph-icon-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
            line-height: 3rem;
        }

        svg {
            margin-left: 2rem;
            width: 25px;
            height: 25px;
            fill: $white;
        }
    }

    &__slide-inner {
        max-width: 100%;
        padding:  1rem;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        padding-right: 5rem;

        @include media('>=tablet') {
            padding:  2rem;
            padding-right: 15rem;
            margin-bottom: -2.5rem;
        }
    }

    .swiper-scrollbar {
        background-color: $orange;
        background: linear-gradient($blue3, $blue1);
        bottom: 35px;
        height: 4px;
    }

    .swiper-scrollbar-drag {
        background-color: $white;
        position: relative;
        background: linear-gradient($red, $blue1);
        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: linear-gradient($red, $blue1);
            bottom: -2px;
            right: 0;
        }
    }

    .input-mainWrapper {
        padding: 0 5rem 5rem 5rem;
    }

    .swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid $white;
    }
    .swiper-pagination-bullet-active{
        background: linear-gradient($red, $blue3);
    }
}
