- let container = 'container'
- let list = 'list'
- let menu = 'menu'
- let nav = 'nav'
- let title = 'title'

- let item = 'item'
- let link = 'link'
- let wrapper = 'wrapper'
- let inner = 'inner'


//- modifications
- let active = ' active '
- let jsBurger = 'js-burger'
- let burger = 'burger'
- let jsBurgerOpen = ' js-burger-open '
- let burgerSpan = 'js-burger'+ '__' + 'span'

//- sliders
- let swiper = 'swiper'

//- name sections
- let header = 'header'
- let footer = 'footer'
- let section = 'section'
- let intro = 'intro'
- let promo = 'promo'
- let main = 'main'

//- urls

-
  let urlPath = {
    urlPathMenuFromIndex: "pages/menu/",
    urlPathMenuFromAnotherPage: "../pages/menu/",
  }