//- PAGE---INDEX SECTION - INTRO
- let introSection = 'intro-section'
- let introSectionWrapper =  'intro-section__wrapper'

//- PAGE---INDEX SECTION - MAIN
- let mainSection = 'main-section'
- let mainSectionWrapper =  'main-section__wrapper'

//- name section titles-Classes
- let sectionTitleClass = section + '-' + title

//- name section titles Text

-
    let sectionTitleTexts = [
        {
            pageIndex__sectionIntro_MainTitle: 'EaseWeb | Сайты, которые продают',
            pageIndex__sectionIntro_SecondTitle: 'Мы делаем сайты, которые продают',
            pageIndex__sectionIntro_ThirdTitle: 'Закажи сайт и получи первых клиентов',
            pageIndex__sectionIntro_ParagraphTitle: 'Базовая настройка рекламы идет вместе с сайтом',
            pageIndex__sectionIntro_ParagraphSecondTitle: 'Закажи сайт и получи первых клиентов',
            pageIndex__sectionIntro_ParagraphThirdTitle: 'Пройдите опрос и получите в подарок настройку рекламы в Гугл либо Яндекс на выбор',
            pageIndex__sectionIntro_ParagraphFourTitle: 'Надоело сливать рекламные бюджеты?',
        },
    ]