.addTasks-section {
	color: $black;

	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.5rem;
		row-gap: 1rem;

		@include media('>=phone-lg'){
			gap: 1rem;
		}

		@include media('>=tablet') {
			gap: 1.5rem;
		}

		@include media('>=desktop') {
			gap: 2rem;
			grid-template-columns: 33% 33% 33%;
		}

		@include media('>=widescreen-lg') {
			row-gap: 9rem;
		}
	}

	&__card-wrapper {
		box-shadow: inset 2px 2px 19px rgba(0, 0, 0, 0.13);
		border-radius: 24px;
		padding: 5px;

		@include media('>=phone-lg'){
			padding: 10px;
		}

		@include media('>=desktop') {
			border-radius: 30px;
			padding: 20px;
		}
	}

	&__card {
		position: relative;
		min-height: 111px;
		display: grid;
		align-content: end;
		padding: 1rem;
		overflow: hidden;
		box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px -1px 0px 1px rgba(0, 0, 0, 0.05);
		border-radius: 24px;

		@include media('>=395px') {
			min-height: 150px;
		}

		@include media('>=phone-lg') {
			min-height: 250px;
		}

		@include media('>=tablet') {
			min-height: 300px;
		}

		@include media('>=desktop') {
			min-height: 500px;
			border-radius: 30px;
		}

		@include media('>=widescreen-lg') {
			min-height: 710px;
			padding: 2rem;
		}

		.title__h2 {
			position: relative;
			z-index: 2;
			font-family: $MazzardHBold;
			margin-bottom: 0;
			font-size: 1rem;
			word-break: break-word;

			@include media('>=395px') {
				font-size: 1.4rem;
			}

			@include media('>=phone') {
				font-size: 1.5rem;
			}

			@include media('>=tablet') {
				font-size: 3.1rem;
			}

			@include media('>=widescreen-lg') {
				font-size: 5.6rem;
			}
		}
	}
}

.addTasks-cardTitle-span {

	@include media('>=600px') {
		display: none;
	}
}