.circles-section {
	color: $black;

	&__wrapper {
		.title__h2 {
			font-family: $MazzardHBold;
			font-size: 1.2rem;

			@include media('>=tablet') {
				font-size: 1.2rem;
			}
			@include media('>=desktop') {
				font-size: 3.8rem;
			}

			span {
				text-transform: uppercase;
			}
		}
	}

	&__inner {
		display: flex;
		justify-items: center;
		justify-content: space-between;

		@include media('>=desktop') {
			display: grid;
			gap: 2rem;
			justify-items: center;
			grid-template-columns: 1fr 1fr;
		}
	}

	&__circle-wrapper {
		position: relative;

		&:first-of-type {
			justify-self: flex-start;

			@include media('>=tablet') {
				font-size: 1.8rem;
			}
			@include media('>=tablet') {
				font-size: 1.8rem;
			}

		}
		&:last-of-type {
			justify-self: flex-end;
			margin-left: 40px;
			margin-top: 70px;

			@include media('>=tablet') {
				font-size: 1.8rem;
			}
			@include media('>=widescreen-lg') {
				margin-top: 0;
			}

		}

		span.circles-section__circle-text,
		span.circles-section__circle-text1 {
			font-size: 1.2rem;
			font-family: $Montserrat;
			position: absolute;
			width: min-content;

			@include media('>=tablet') {
				font-size: 1.8rem;
			}

			@include media('>=desktop') {
				font-size: 2.4rem;
			}

			@include media('>=widescreen-lg') {
				font-size: 3.8rem;
			}

			&::before {
				@extend %pseudo;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: $black;

				@include media('>=tablet') {
					width: 20px;
					height: 20px;
				}
			}

			&:first-of-type {
				opacity: 1;
			}
		}
	}

	&__circle {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border: 1px solid $black;
		position: relative;
		font-size: 2.8rem;
		font-family: $Montserrat;
		overflow: hidden;

		@include media('>=tablet') {
			width: 250px;
			height: 250px;
			border: 2px solid $black;
		}

		@include media('>=desktop') {
			width: 350px;
			height: 350px;
			font-size: 3.8rem;
		}

		@include media('>=widescreen') {
			width: 400px;
			height: 400px;
		}

		@include media('>=widescreen-lg') {
			width: 480px;
			height: 480px;
		}

		span {
			border: 1px solid $black;
			white-space: nowrap;
			background-color: $white;
		}
	}

	&__circle-text {
	    top: 55px;
    	right: -70px;

		@include media('>=tablet') {
			right: -76px;
		}

		@include media('>=desktop') {
			top: 168px;
			right: -124px;
		}

		@include media('>=widescreen-lg') {
			top: 200px;
			right: -185px
		}

		&::before {
			left: -20px;
			top: 2px;

			@include media('>=desktop') {
				left: -27px;
			}

			@include media('>=widescreen-lg') {
				top: 10px;
			}
		}
	}

	&__circle-text1 {
		top: 55px;
    	left: -109px;

		@include media('>=desktop') {
			top: 200px;
			left: -70px;
		}

		@include media('>=widescreen-lg') {
			left: -108px;
		}

		text-transform: uppercase;

		&::before {
			left: 105px;
			top: 10px;
		}
	}

	&__circle-text1.t {
		text-transform: none;
		top: 63px;
		left: -37px;

		@include media('>=tablet') {
			left: -33px;
		}

		@include media('>=desktop') {
			top: 145px;
			left: -74px;
		}

		@include media('>=widescreen-lg') {
			top: 171px;
			left: -99px;
		}

		&:before {
			left: 35px;
			top: 2px;

			@include media('>=desktop') {
				left: 65px;
				top: 4px;
			}

			@include media('>=widescreen-lg') {
				left: 95px;
				top: 13px;
			}
		}
	}
	&__circle-text1.w {
		top: 64px;
    	left: -93px;
		text-transform: uppercase;

		@include media('>=tablet') {
			left: -116px;
		}

		@include media('>=desktop') {
			top: 146px;
    		left: -182px;
		}

		@include media('>=widescreen-lg') {
			left: -273px;
			top: 173px;
		}

		&::before {
			left: auto;
			top: 1px;
			right: -15px;

			@include media('>=desktop') {
				top: 3px;
				right: -30px;
			}

			@include media('>=widescreen-lg') {
				top: 11px;
			}
		}
	}

	&__circle-runString1 {
		background-color: $white;
		border: 1px solid $black;
		transform: rotate(25deg);
		position: absolute;
		bottom: 35px;
		left: -43px;
		width: 152%;
		font-size: 1rem;

		@include media('>=tablet') {
			font-size: 1.2rem;
		}

		@include media('>=desktop') {
			bottom: 145px;
			left: -100px;
			font-size: 2rem;
		}
		@include media('>=widescreen-lg') {
			font-size: 3.8rem;
		}
	}

	&__circle-runString2 {
		position: absolute;
		z-index: -1;
		bottom: 92px;
		right: -36px;
		font-size: 1rem;
		bottom: 35px;
		right: -21px;
		transform: rotate(341deg);
		white-space: nowrap;
		border: 1px solid $black;

		@include media('>=tablet') {
			font-size: 1.2rem;
			right: -2px;
		}

		@include media('>=desktop') {
			bottom: 91px;
			right: -37px;
			width: 100%;
			font-size: 2rem;
		}
		@include media('>=widescreen-lg') {
			font-size: 3.8rem;
		}
	}

	&__circle-runString3 {
		transform: rotate(29deg);
		position: absolute;
		z-index: 1;
		background-color: $white;
		border: 1px solid $black;
		bottom: 80px;
		font-size: 1rem;
		bottom: 60px;
		left: -20px;

		@include media('>=tablet') {
			font-size: 1.2rem;
		}

		@include media('>=desktop') {
		    bottom: 147px;
    		right: -48px;
			font-size: 2rem;
			transform: rotate(39deg);
		}
		@include media('>=widescreen-lg') {
			font-size: 3.8rem;
			left: -54px;
		}
	}

	&__circle-runString4 {
		bottom: 45px;
		transform: rotate(320deg);
		position: absolute;
		right: -33px;
		z-index: -1;
		white-space: nowrap;
		border: 1px solid $black;
		font-size: 1rem;

		@include media('>=tablet') {
			font-size: 1.2rem;
		}
		@include media('>=desktop') {
			right: -120px;
			bottom: 120px;
    		width: 126%;
			font-size: 2rem;
		}
		@include media('>=widescreen-lg') {
			font-size: 3.8rem;
		}
	}

	&__circle-text-wrapper {
		position: absolute;
		right: 0;
		top: 0;
	}
	&__circle-text-wrapper.a1 {
		left: 0;
		right: auto;
	}
}