.mainFormShape {
    background-color: $black;
    height: 10rem;
    padding-bottom: 10rem;
	margin-bottom: -10px;
    border-radius: 100% 100% 0% 0%;
	border-bottom: 1px solid $black;
}

.mainForm-section {
    background-color: $black;
    padding-top: 0;
	padding-bottom: 5rem;

	@include media('>=desktop') {
		padding-bottom: 15rem;
	}

	@include media('>=widescreen-lg') {
		padding-bottom: 14rem;
	}

	&__wrapper {
		max-width: 1220px;
    	margin: 0 auto;

		@include media('>=desktop') {
			padding-top: 11rem;
		}
	}
}

.mainForm {
    border: 1px solid $white;
    min-width: 280px;
    max-width: 1260px;
    min-height: 150px;
    margin: 0 auto;

    @include media('>=widescreen-lg') {
        min-height: 400px;
    }

    &__wrapper {
        padding: 2rem;
        min-width: 100%;
        text-align: center;

		@include media('>=desktop') {
			padding: 11rem 9rem 10rem 9rem;
		}

        .mainForm__title {
            font-size: 1.5rem;

            @include media('>=phone-lg') {
                font-size: 2.7rem;
            }
            @include media('>=tablet') {
                font-size: 3.3rem;
            }
            @include media('>=desktop') {
                font-size: 4.3rem;
            }
            @include media('>=widescreen-lg') {
                font-size: 5.6rem;
            }
        }
    }

    &__inner {
        display: grid;
        gap: 0.5rem;
        padding: 2rem 0 0 0;
        margin: 0 auto;
        max-width: 1080px;
		grid-template-columns: 1fr 1fr;

        @include media('>=phone-lg') {
            padding: 3rem 0 0 0;
        }

        @include media('>=tablet') {
            padding: 4rem 0 0 0;
        }

        @include media('>=desktop') {
            padding: 6rem 0 0 0;
			gap: 4.5rem;
        }

        .inputs,
        .wrapperButtons {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;

			@include media('>=desktop') {
				gap: 3.3rem;
			}
        }

        .wrapperButton {
            max-width: 520px;
            min-width: 100%;
        }

        .input {
            color: $white;
            border: 1px solid $white;
            font-size: 0.8rem;
            background-color: $black;
            min-width: 100%;
            height: 20px;
			padding: 0 0 0 1rem;

			@include media('>=phone-lg') {
				font-size: 2rem;
				height: 50px;
			}
		
			@include media('>=desktop') {
				height: 70px;
				font-size: 2.4rem;

				&:nth-last-of-type(1) {
					order: 2;
				}
				&:nth-last-of-type(2) {
					order: 3;
				}
			}

            &::placeholder {
                color: $white;
            }

            &:focus {
                // border: 1px solid $white;
            }

        }
    }

    &__button {
        height: 20px;
        min-width: 100%;
        max-width: 520px;
        font-family: $MontserratBold;
        font-size: 0.8rem;
        padding: 0.2rem;
		border-radius: 0;
        text-align: center;
        position: relative;
		background: linear-gradient(to left, $orange1, $orange);

		@include media('>=phone-lg') {
			font-size: 2rem;
			height: 50px;
		}
	
        @include media('>=desktop') {
			height: 70px;
			padding: 2rem;
			font-size: 2rem;
			box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 11px 2px inset,
						rgba(34,60,80,0.2) -19px -20px 6px -10px inset;

			&:hover,
			&:active {
				box-shadow: rgba(255, 255, 255, 0.5) -12px -13px 8px -7px inset,
							rgba(34,60,80,0.2) 6px 6px 8px 1px inset;
			}

			&::after {
				height: 35px;
				top: 18px;
			}
        }
    }

    &__title {
        font-family: $MontserratBold;
        font-size: 5.6rem;
		text-align: left;
    }

    &__title.addTaskMainFormTitle {
        text-align: left;
		margin: 0 0 0 0;
    }

    &__select-block {
        position: relative;
        color: $white;
        border: 1px solid $white;
        background-color: $black;
        font-size: 0.8rem;
        min-width: 100%;
        display: flex;
        height: 20px;

		@include media('>=phone-lg') {
			font-size: 2rem;
			height: 50px;
		}

		@include media('>=desktop') {
			height: 70px;
			font-size: 2.4rem;
		}

        select {
            color: $white;
            background-color: transparent;
            min-width: 100%;
			padding: 0 0 0 1rem;
            z-index: 11;
            position: relative;
            height: 20px;
            font-size: 0.8rem;

			@include media('>=phone-lg') {
				font-size: 2rem;
				height: 50px;
			}

			@include media('>=desktop') {
				padding: 10px 20px 10px 10px;
				height: 70px;
				font-size: 2.4rem;
			}

            option {
                background-color: $black;
				font-size: 0.8rem;

				@include media('>=phone-lg') {
					font-size: 2rem;
				}

				@include media('>=desktop') {
					font-size: 2.4rem;
				}	
            };
        }

        label {
            position: relative;
            cursor: pointer;
            display: inline-block;
            background-color: rgb(0, 0, 0);
        }

        input {
            display: none;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        };

        input[type="radio"]:checked+label {
            background-color: rgb(255, 0, 0);
        }

        &::after {
            @extend %pseudo;
			z-index: 0;
			right: 10px;
			top: 7px;
			border: 5px solid transparent;
			border-top: 5px solid $white;

			@include media('>=phone-lg') {
				right: 10px;
				top: 20px;
				border: 10px solid transparent;
				border-top: 10px solid $white;
			}
	
			@include media('>=desktop') {
				right: 10px;
				top: 30px;
			}
        }
    }
}

input.mainFormInput {
	opacity: 1;
	display: block;
	background-color: transparent;
	color: $white;
	border: 1px solid $white;
	font-size: 0.8rem;
	min-width: 100%;
	height: 20px;
	padding: 0.5rem 0 0.5rem 1rem;

	@include media('>=desktop') {
		font-size: 2.4rem;
		height: 70px;
	}

	&::placeholder {
		color: $white;
	}
}

.seoAdd {
	padding-bottom: 2rem;

	@include media('>=desktop') {
		padding-bottom: 20rem;
	}
}

.h2-none {
	display: none;
}

.shape {
	height: 4rem;
	padding-bottom: 4rem;

	@include media('>=tablet') {
		height: 6rem;
		padding-bottom: 6rem;

	}

	@include media('>=desktop') {
		height: 8rem;
		padding-bottom: 8rem;

	}

	@include media('>=widescreen-lg') {
		height: 10rem;
		padding-bottom: 18rem;
	}
}

.addTaskPageMainForm {
	padding-top: 3rem;

	@include media('>=widescreen-lg') {
		padding-bottom: 28rem;
	}

	.mainForm-section__wrapper {
		max-width: 1280px;
	}

	.mainForm__inner {
		@include media('>=widescreen-lg') {
			padding: 7rem 0 0 0;
		}
	}

	.mainForm__wrapper {
		padding: 2rem 3rem;

		@include media('>=widescreen-lg') {
			padding: 9rem 8rem 10rem 8rem;
		}
	}

	.mainForm-section__wrapper{
		padding: 0 1rem;
	}

	.inputs,
	.wrapperButtons {
		gap: 1rem;

		@include media('>=widescreen-lg') {
			gap: 4rem;
		}
	}

	.mainForm__button  {
		text-align: left;
		padding-left: 1.2rem;

		@include media('>=widescreen-lg') {
			text-align: center;
			font-size: 2.4rem;
		}
	}
}

.mainFormShape.mainPage {
	height: 7rem;
    padding-bottom: 7rem;

	@include media('>=widescreen-lg') {
		height: 10rem; 
		padding-bottom: 20rem;
	}
}
.mainForm-section.mainPage {
	.mainForm-section__wrapper {
		padding: 0 8px;
		max-width: 1275px;
	}

	.mainForm {
		min-height: 138px;
	}

	.mainForm__title{
		font-family: $MazzardHBold;
	}
	// .mainForm__inner{
	// 	margin: 0;
	// }

	.mainForm__wrapper{
		padding: 2rem 2rem 1rem 2rem;

		@include media('>=phone-lg') {
			padding: 4rem 2rem 8rem 2rem;
		}

		@include media('>=widescreen-lg') {
			padding: 10rem 9rem 10rem 9rem;
		}

		.mainForm__title {
			font-size: 1.2rem;

			@include media('>=phone-lg') {
                font-size: 2.7rem;
            }
            @include media('>=tablet') {
                font-size: 3.3rem;
            }
            @include media('>=desktop') {
                font-size: 4.3rem;
            }
            @include media('>=widescreen-lg') {
                font-size: 5.6rem;
            }
		}
	}

	.mainForm__inner .input:nth-last-of-type(1) {
		order: 3;
	}

	.inputs, 
	.wrapperButtons {
		gap: 1rem;

		@include media('>=widescreen-lg') {
			gap: 4rem;
		}
	}

	.mainForm__button {
		text-align: left;
		padding-left: 1.2rem;

		@include media('>=widescreen-lg') {
			text-align: center;
			font-size: 2.4rem;
		}

		&::after {
		
			@include media('>=phone-lg') {
				height: 40px;
				right: 9px;
				top: 10px;
				width: 18px;	
			}

			@include media('>=desktop') {
				top: 16px;
			}

			@include media('>=widescreen-lg') {
				height: 40px;
				right: 19px;
				top: 19px;
				width: 21px;
			}
		}
	
	}
}

.mainForm-polite {
	margin-top: 1rem;
	font-size: 0.8rem;
	max-width: 1080px;
	text-align: center;
	min-width: 100%;

	.mainForm-polite-link {
		font-size: 0.8rem;
		color: $white;
		text-decoration: underline;

		&:hover {
			opacity: 0.7;
			transition: $base-transition;
		}
		&:visited {
			color: $white;
		}
	}

	@include media('>=phone-lg') {
		margin-top: 2rem;
		font-size: 1.4rem;

		.mainForm-polite-link {
			font-size: 1.4rem;
		}
	}
	@include media('>=tablet') {
		margin-top: 3rem;
		font-size: 1.6rem;

		.mainForm-polite-link {
			font-size: 1.6rem;
		}
	}
	@include media('>=desktop') {
		margin-top: 5rem;
		font-size: 2rem;

		.mainForm-polite-link {
			font-size: 2rem;
		}
	}
}