.trust-section {
	padding-bottom: 3.5rem;

	@include media('>=desktop') {
		padding-bottom: 15rem;
	}
	@include media('>=widescreen-lg') {
		padding-bottom: 25rem;
	}
	.title__h2 {
		color: $black;
		font-size: 1.2rem;
		font-family: $MazzardHBold;

		@include media('>=tablet') {
			font-size: 1.8rem;
		}
	}
	&__wrapper {
		.title__h2 {
			margin-bottom: 2rem;
		}
	}
	&__argument {
		padding: 1rem;

		@include media('>=phone-lg') {
			padding: 2rem;
		}


		@include media('>=desktop') {
			padding: 3rem;
		}

		&:nth-of-type(1) {
			border-top: 1px solid $orange1;
			width: 220px;
			margin-bottom: -20px;

			@include media('>=phone-lg') {
				margin-bottom: 0;
				width: auto;
				border-top: 2px solid $orange1;
			}
		}

		&:nth-of-type(2) {
			position: relative;
			text-align: right;
			width: 220px;

			@include media('>=340px') {
				width: 260px;
			}

			@include media('>=380px') {
				width: 280px;
			}

			@include media('>=phone-lg') {
				border-top: none;
				border-bottom: 2px solid $orange1;
				text-align: left;
				width: auto;
			}

			p {
				text-align: right;

				@include media('>=phone-lg') {
					text-align: left;
				}
			}

			&::after,
			&::before {
				@extend %pseudo;
				background-color: $orange1;
			}

			&::after {
				width: 1px;
				height: 9px;
				bottom: 37px;
				right: 141px;

				@include media('>=phone-lg') {
					transform: rotate(90deg);
					width: 25px;
					height: 2px;
					bottom: -14px;
					right: -12px;
				}
			}

			&::before {
				width: 19px;
				height: 1px;
				bottom: 45px;
				right: 142px;

				@include media('>=phone-lg') {
					display: none;
				}
			}
		}

		&:nth-of-type(3) {
			position: relative;
			transform: rotate(90deg);
			margin-right: -71px;
			margin-top: -52px;
			width: 243px;
			justify-self: flex-end;

			@include media('>=phone-lg') {
				border-left: 2px solid $orange1;
				border-bottom: 2px solid $orange1;
				border-right: 2px solid transparent;
				border-top: 2px solid transparent;
				margin-top: 0;
				margin-right: 0;
				transform: rotate(0deg);
				justify-self: auto;
				width: auto;
			}

			.title__h2 {
				margin-bottom: 0;

				@include media('>=desktop') {
					margin-bottom: 2rem;
				}
			}

			.trust-section__text {
				margin-left: 0px;
			}

			p {
				text-align: left;

				&:nth-of-type(2) {
					text-align: right;
					margin-right: 60px;

					@include media('>=phone-lg') {
						text-align: right;
					}

					@include media('>=desktop') {
						margin-right: 115px;
					}
				}
			}

			&::before,
			&::after {
				@extend %pseudo;
				background-color: $orange1;
			}

			&::before {
				width: 148px;
				height: 1px;
				top: 52px;
				left: 15px;

				@include media('>=phone-lg') {
					width: 50px;
					height: 2px;
					top: 0;
					left: 40px;
				}
			}

			&::after {
				display: none;

				@include media('>=phone-lg') {
					width: 70px;
					height: 2px;
					transform: rotate(90deg);
					bottom: -36px;
					right: -35px;
				}
			}
		}

		&:nth-of-type(4) {
			width: 217px;
			margin-top: -33px;
			padding-left: 15px;
			position: relative;

			@include media('>=phone-lg') {
				width: auto;
				margin-top: auto;
				padding-left: auto;

			}

			&:before,
			&:after {
				@extend %pseudo;
				background-color: $orange1;

				@include media('>=phone-lg') {
					display: none;
				}
			}

			&:before {
			    width: 1px;
				height: 50px;
				bottom: 10px;
				right: 210px;
			}

			&:after {
			    width: 126px;
				height: 1px;
				bottom: 10px;
				right: 80px;
			}

			p.trust-section__text {
				text-align: left;
				width: 115px;

				@include media('>=phone-lg') {
					width: auto;
				}

				&:first-of-type {
					position: relative;

					&:after {
						@extend %pseudo;
						background-color: $orange1;
						width: 10px;
						height: 1px;
						bottom: 23px;
						right: 109px;

						@include media('>=phone-lg') {
							display: none;
						}
					}
				}

				&:last-of-type {
					text-align: right;
					width: 100%;

					@include media('>=desktop') {
						margin-right: 15px;
						width: auto;
					}
				}
			}

			.title__h2 {
				margin-bottom: 0;

				@include media('>=phone-lg') {
					margin-bottom: auto;
				}

				@include media('>=desktop') {
					margin-bottom: 2rem;
				}
			}
		}
	}
	&__argument-inner {
		.title__h2 {
			color: $black;
			font-size: 1.5rem;
			white-space: nowrap;

			@include media('>=phone-lg') {
				font-size: 1.9rem;
			}

			@include media('>=tablet') {
				font-size: 2.9rem;
			}

			@include media('>=desktop') {
				font-size: 3.8rem;
			}

			@include media('>=widescreen-lg') {
				font-size: 5.6rem;
			}
		}
	}
	&__inner {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0rem;

		@include media('>=phone-lg') {
			gap: 2rem;
			grid-template-columns: 1fr 1fr;
		}
		@include media('>=tablet') {
			gap: 3rem;
		}
		@include media('>=desktop') {
			grid-template-columns: 1fr 1fr;
			gap: 5rem;
		}

		.title__h2 {
			font-family: $MontserratBold;
		}
	}
	&__border {
		position: absolute;
		width: 40px;
		height: calc(100% + 20px);
		left: 0;
		top: -10px;
		border-top: 10px solid $white;
		border-bottom: 10px solid $white;
	}
	&__text {
		color: $black;
		font-size: 0.8rem;
		font-family: $Montserrat;

		@include media('>=phone-lg') {
			font-size: 1rem;
		}

		@include media('>=tablet') {
			font-size: 1.4rem;
		}

		@include media('>=desktop') {
			font-size: 2.4rem;
			margin-bottom: 2rem;
		}
	}
	.trustH2 {
		margin-left: 16px;

		@include media('>=desktop') {
			margin-left: 30px;
			font-size: 3.8rem;
			margin-bottom: 9rem;
		}
	}
}

.trust-section.seoPage {
	padding-bottom: 4rem;

	@include media('>=desktop') {
		padding-bottom: 5rem;
	}

	@include media('>=widescreen-lg') {
		padding-bottom: 23rem;
	}

	.trust-section__argument {
		@include media('>=phone-lg') {
			padding: 1rem;
		}
	}

	.trust-section__argument:nth-of-type(1) {
		width: 213px;

		@include media('>=phone-lg') {
			min-width: 213px;
			width: auto;
		}
		@include media('>=widescreen-lg') {
			min-width: 751px;
			width: auto;
			padding-top: 50px;
		}
	}
	.trust-section__argument:nth-of-type(2) {
		margin-top: -6px;
		margin-left: 12px;

		&::before {
			bottom: 41px;
			right: 140px;
		}
		&::after {
			bottom: 33px;
			right: 139px;

			@include media('>=phone-lg') {
				bottom: -14px;
				right: -12px;
			}

			@include media('>=widescreen-lg') {
				bottom: -28px;
				right: -24px;
				width: 50px;
			}
		}

		@include media('>=widescreen-lg') {
			margin-top: 42px;
			margin-left: -10px;
			padding-bottom: 25px;
			padding-left: 0;
		}
	}
	.trust-section__argument:nth-of-type(3) {
		margin-right: -78px;
		margin-top: -41px;

		&::before {
			top: 53px;
			left: 9px;

			@include media('>=phone-lg') {
				top: 0px;
				left: 20px;
			}

			@include media('>=widescreen-lg') {
				top: 0px;
    			left: 38px;
			}
		}

		p:nth-of-type(2) {
			margin-right: 66px;
			margin-bottom: -2px;

			@include media('>=widescreen-lg') {
				margin-right: 56px;
			}
		}

		@include media('>=phone'){
			margin-right: 5px;
		}

		@include media('>=phone-lg') {
			border-left: 2px solid $orange1;
			border-bottom: 2px solid $orange1;
			border-right: 2px solid transparent;
			border-top: 2px solid transparent;
			margin-top: 0;
			margin-right: 0;
			transform: rotate(0deg);
			justify-self: auto;
			width: auto;


			&::after {
				@include media('>=phone-lg') {
					content: '';
					position: absolute;
					display: block;
					background-color: $orange1;
					width: 2px;
					bottom: -2px;
					right: -2px;
					width: 2px;
					height: 30px;
					transform: rotate(0);
				}

				@include media('>=widescreen-lg') {
					height: 65px;
				}
			}
		}

		@include media('>=widescreen-lg') {
			padding-top: 51px;
    		margin-top: -51px;
			padding-left: 13px;
			margin-left: -11px;
			max-width: 674px;
			padding-bottom: 42px;
		}
	
	}
	.trust-section__argument:nth-of-type(4) {
		margin-top: -37px;
		padding-left: 14px;
		margin-left: -5px;

		p.trust-section__text:last-of-type {
			margin-left: -3px;

			@include media('>=widescreen-lg') {
				margin-right: 38px;
			}
		}

		line-height: 1;

		@include media('>=phone-lg') {
			width: auto;
			margin-top: auto;
			padding-left: auto;
		}

		@include media('>=widescreen-lg') {
			margin-left: -22px;
			margin-top: -7px;
		}

		&:before,
		&:after {

			@include media('>=phone-lg') {
				display: none;
			}
		}
	}

	.trust-section__border {

		@include media('>=phone-lg') {
			width: 20px;
		}
		@include media('>=desktop') {
			width: 37px;
		}
	}

	.trustH2 {
		@include media('>=desktop') {
			margin-left: 0;
		}
	}
}
