.variantsSitesSection {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
    position: relative;
    min-height: 160px;
	padding-bottom: 6rem;
}

.variantSection-block .stepsWorking-section__block{
	display: grid;
	align-content: end;
	flex-basis: auto;
	min-height: 150px;
	border: none;
	border-radius: 40px;
	box-shadow: inset 9px 43px 13px -41px rgba(0,0,0,0.25),
				inset 1px 4px 20px 2px rgba(0,0,0,0.25);
	min-width: max-content;
	overflow: hidden;

	@include media('>=phone-lg') {
		min-width: 200px;
		min-height: 245px;
	}

	@include media('>=desktop') {
		min-height: 545px;
	}

	@include media('>=widescreen-lg') {
		min-height: 645px;
	}

	&:hover,
	&:active {

		.stepsWorking-section__text {
			height: 50px;
			transition: $base-transition;
			transition-duration: 2s;
			opacity: 1;

			@include media('>=desktop') {
				height: 100px;
			}
		}
	}
}

.variantSection-block .stepsWorking-section__step{
	border-radius: 40px;
	overflow: hidden;
}

.variantSection-wrapper .stepsWorking-section__step-block{
	min-width: auto;
}

.variantSection-block .stepsWorking-section__title{
	position: static;
	color: $black;
	font-family: $MontserratBold;
	margin-bottom: 2rem;
	display: flex;
	white-space: nowrap;

	@include media('>=desktop') {
		font-size: 5.6rem;
	}
}
.variantSection-block .stepsWorking-section__text{
	height: 0;
	opacity: 0;
	position: static;
	color: $black;
	font-family: $MontserratBold;
	list-style-type: disc;
	padding-left: 2rem;

	@include media('>=phone-lg') {
		font-size: 1rem;
	}

	@include media('>=desktop') {
		font-size: 2.2rem;
		padding-left: auto;
	}
}

.variantSection-wrapper .stepsWorking-section__wrapper2 {
	overflow-y: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow-x: scroll;
	min-height: 200px;

	@include media('>=tablet') {
		min-height: 275px;
	}
	@include media('>=desktop') {
		min-height: 600px;
	}

	@include media('>=widescreen-lg') {
		min-height: 745px;
	}
}


.variantSection-wrapper {
	overflow: hidden;
	.title__h2 {
		color: $black;
		font-size: 1.2rem;

		@include media('>=tablet') {
			font-size: 1.2rem;
		}
		@include media('>=desktop') {
			font-size: 3.8rem;
		}
	}

	.stepsWorking-section__block {
		margin-right: 0;
	}
}

.variantsSection__title {
	font-size: 1.5rem;
}