//- folders
- let folderContentName = 'content'
- let folderDecorName = 'decor'
- let folderIconsName = 'icons'
- let folderSpriteName = 'sprite'

- let imagesFolder = 'images'

//- types files
- let png = '.png'
- let jpg = '.jpg'
- let webp = '.webp'
- let avif = '.avif'

- let typesWebp = 'image/webp'
- let typesAvif = 'image/avif'
- let logoPng = 'logoPng'
- let logoJpg = 'logoJpg'
- let logoWebp = 'logoWebp'

//- imagesNames
- let logoName = 'logo'
- let introSectionWoman = 'woman'
- let caseSectionCase = 'case'
- let FeedBackSection = 'feedBack-human'
- let caseSectionName = 'image-portfolio'

//- media
-
	let mediaArr = [
		'(min-width: 768px)',
		'(min-width: 1024px)',
		'(min-width: 1440px)',
	]