section(class='lazy_contentSection ' +caseSection)
	div(class=container)
		div(class=caseSectionWrapper+ " lazy_content")
			if (mainPage)
				include ../../modules/includes/sliders/sliderCase/sliderCase