-   let tabs = 'tabs '
-   let jsTabs = 'js-tabs '
-   let tabsHeader = 'tabs__header '
-   let tabOne = 'tab-one'
-   let tabTwo = 'tab-two'
-   let tabThree = 'tab-three'
-   let tabsBtn = 'tabs__btn '
-   let tabsContent = 'tabs__content '