-
	let introSectionIcons = {
		viewBox: '0 0 24 24',
		width: '200',
		height: '200',
		id: 'images/sprite/sprite.svg#aprove',
	}

- let logoIconsPath = 'images/sprite/sprite.svg#logo'
- let logoIconsPath2 = '../images/sprite/sprite.svg#logo'

-
	let logoIcons = {
		viewBox: '0 0 100 100',
		width: '100',
		height: '100',
		id: logoIconsPath,
	}

-
	let stepWorkSection__h3= {
		viewBox: '0 0 100 100',
		width: '100',
		height: '100',
		id: 'images/sprite/sprite.svg#step2',
	}

-
	let stepWorkSection__h3__2= {
		viewBox: '0 0 100 100',
		width: '100',
		height: '100',
		id: 'images/sprite/sprite.svg#step1',
	}

-
	let personalcon__h3= {
		viewBox: '0 0 100 100',
		width: '100',
		height: '100',
		id: 'images/sprite/sprite.svg#profile',
	}