div(class=introBlock)
	div(class=container)
		div(class=introBlockWrapper+color__white)
			if (mainPage)
				+h1(itroMainText.h1, ClassIntroBlockTitle__h1)
				+p(itroMainText.p1, ClassIntroBlockParagraph__p)
				+p(itroMainText.p2, ClassIntroBlockParagraphMin__p)