section(class='lazy_contentSection ' +ClassPricesSection id='price')
    .container
        div(class=ClassPricesSectionWrapper+ " lazy_content")
            h2(class=titleDefault__H2) Стоимость работ
            div(class=ClassPricesSectionInner)
                include tarif1
                include tarif2
                include tarif3