div(class=ClassPricesSection__tarif)
    div(class=ClassPricesSection__tarifWrapper)
        p(class=ClassPricesSection__title) Тариф 2
        div(class=ClassPricesSection__tarifContent)
            ul
                li прототип
                li уникальный текст с семантическим ядром
                li дизайн—макет десктоп и мобильной версии
                li анимация инерфейса
                li 3 возможности внесения правок на каждом этапе
                li адаптивная верстка со средней оптимизацией JavaScript
                li минимальная настройка под поисковики
                li тестирование сайта по Lighthouse от 80 баллов
            p От 20 000 руб.