div(class=ClassPricesSection__tarif)
	div(class=ClassPricesSection__tarifWrapper)
		p(class=ClassPricesSection__title) Тариф 3 &nbsp;
			span pro
		div(class=ClassPricesSection__tarifContent)
			ul
				li индивидуальный прототип
				li уникальный текст с семантическим ядром
				li дизайн—макет десктоп и мобильной версии
				li анимация инерфейса
				li 4 возможности внесения правок на каждом этапе
				li адаптивная верстка с максимальной оптимизацией, Pixel Perfect
				li минимальная настройка под поисковики
				li базовая SEO—настройка
				li тестирование сайта по Lighthouse от 90 баллов
			p От 30 000 руб.