div(class=ClassPricesSection__tarif)
    div(class=ClassPricesSection__tarifWrapper)
        p(class=ClassPricesSection__title) Тариф 1
        div(class=ClassPricesSection__tarifContent)
            ul
                li шаблонный прототип
                li уникальный текст
                li дизайн—макет десктоп версии
                li минимальная анимация инерфейса
                li 2 возможности внесения правок на каждом этапе
                li адаптивная верстка
                li минимальные сроки
                li тестирование сайта по Lighthouse от 60 баллов
            p От 15 000 руб.