- let logo = 'logo'
- let logoLinks = 'link'
- let logoImages = 'image'
- let logoMains = 'main'

- let logoLink = logo + '__' + logoLinks
- let logoImage = logo + '__' + logoImages
- let logoMain = logo + logoMains

-
    let logoClasses = [
        logo,
        logoLink,
    ]