div(class=stepsWorkingSectionCard)
	div(class=stepsWorkingSectionCardWrapper)
		div(class=stepsWorkingSectionInnerTitle)
			+h3(stepsWorkingText.h3__2, ClassstepsWorkingTitle__h3)
			+icon(
				stepWorkSection__h3.viewBox,
				stepWorkSection__h3.width,
				stepWorkSection__h3.height,
				stepWorkSection__h3.id,
			)
		div(class=stepsWorkingSectionCardInner)
			+p(stepsWorkingText.li2__1, ClassstepsWorkingParagraph__p)
			+p(stepsWorkingText.li2__2, ClassstepsWorkingParagraph__p)
			+p(stepsWorkingText.li2__3, ClassstepsWorkingParagraph__p)
			+p(stepsWorkingText.li2__4, ClassstepsWorkingParagraph__p)
			+p(stepsWorkingText.li2__5, ClassstepsWorkingParagraph__p)