block quize__wrapper1
    block quize__title-1
        block quize__1
block quize__wrapper2
    block quize__title-2
        block quize__2
block quize__wrapper3
    block quize__title-3
        block quize__3
block quize__wrapper4
    block quize__title-4
        block quize__4
block quize__wrapper5
    block quize__title-5
        block quize__5