//- // -
//- // 	let personalText= [
//- // 		{title: 'Сайты-визитки', url: 'pages/site.html'},
//- // 		{title: 'Корпоративные сайты', url: 'pages/corporativeSite.html'},
//- // 		{title: 'Каталоги', url: 'pages/catalog.html'},
//- // 		{title: 'Интернет магазины', url: 'pages/shop.html'},
//- // 		{title: 'Имиджевые и промосайты', url: 'pages/promosites.html'},
//- // 		{title: 'Продающие страницы (Landing Page)',url: 'pages/landing.html'},
//- // 		{title: 'Сайты с готовыми решениями', url: 'pages/siteFull.html'},
//- // 	]