div(class=classSliderMainSlide+' swiper-main-card3')
    div(class=classSliderMainSlideWrapper)
        div(class=ClassVariantsSitesSection__Card)
            h2(class=titleDefault__H2) Многостраничник