div(class=classSliderMainSlide+' swiper-main-card4')
    div(class=classSliderMainSlideWrapper)
        div(class=ClassVariantsSitesSection__Card)
            h2(class=titleDefault__H2) Интернет—каталог