include ../variables/default/mainDefault
include ../variables/base/main
include ../variables/pagesBlocks/page__index/text/text
include ../variables/pagesBlocks/page__index/lists/VARlist__intro2Section
include ../variables/components/main
include ../variables/classes/main
include ../variables/titles/titles
include ../variables/url-link/url
include ../variables/url-link/url-array
include ../variables/forms/form
include ../variables/buttons/buttons
include ../variables/sliders/sliders
include ../variables/menu/menu
include ../variables/menu/logo

-   let callPopup = true