.intro-block {
    position: relative;
    background-image: url('../../images/content/bg-1-mb.jpg');
    background-size: cover;
    background-position: center;
    min-height: 500px;

    &__wrapper {
        padding-top: 1rem;
        background-color: rgba($black, 0.6);
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
        border-radius: 30px;
        // box-shadow: 10px 7px 10px rgba(0, 0, 0, 0.6);

        @include media('>=tablet') {
            padding-top: 3rem;
            max-width: 80%;
        }
    }

    @include media('>=tablet') {
        background-image: url('../../images/content/bg-111.jpg');
    }
}