section(class='lazy_contentSection ' +coolSection)
	.container
		div(class=coolSectionWrapper+ " lazy_content")
			include image
			div(class=coolSectionInner)
				ul
					li EASEWEB дает предсказуемый результат
					li Работает через договор
					li Укладывается в дедлайны
					li Создаст сайт, который продает
					li Интерфейс функционален
						br
						| и интуитивно понятен
					li Современный дизайн
					li Настройка рекламы и стабильный
						br
						| поток клиентов