-
	let urlLinkMenu = [
		"index.html",
		"articles.html",
		"aboutCompany.html",
		"marketing.html",
		"webbuilding.html",
		"contacts.html",
	];

-
	let urlLinkProducts = {
		product1: "product1.html",
		product2: "product2.html",
		product3: "product3.html"
	};

-
	let urlLinkSwiperOffer = {
		price: "#price",
	};

-
	let urlLinkCase = {
		aqualife: 'aqualife.html',
		motherPlata: 'motherPlata.html',
		nft: 'nft.html',
		metaUniverse: 'metaUniverse.html',
		portfolio: 'portfolio.html',
		computer: 'computer.html',
		jewwlery: 'jewwlery.html',
	};