- let mainTitle = 'main-title'
-   let classmenuLine = 'line-menu '
//- index.html logo
- let classNameLogo = 'logo'
- let classTitleThird = 'title-third'
- let quzieParagraph = 'quzieParagraph'
- let inputsWrapper = 'input-mainWrapper'

- let price1 = 'price1'
- let price2 = 'price2'
- let price3 = 'price3'

-   let colorTextBlack = 'color-black'
-   let colorTextBWhite = ' color-white'

-   let titleDefault = ' title-default'
-   let titleDefault__H1 = ' title__h1'
-   let titleDefault__H2 = ' title__h2'
-   let titleDefault__H3 = ' title__h3'

-   let ClassParagraphBase = 'paragraph-base'
-   let classButton = 'class-button'
-   let classOffer = 'class-offer'
-   let ClassmoreInfoButton = 'button-more'

//- Секция - intro-section
-   let ClassintroSectionInner = 'intro-section__inner'
-   let ClassintroSection__H1 = 'intro-section__title'
-   let ClassIntroSectionTitle__h2 = ' Intro2Section-titleH2 '
-   let ClassIntroSectionParagraph__p = ' Intro2Section-paraghraph '
-   let ClassintroSection__h1__span3 = ' intro-section__h1-span'
-   let ClassintroSection__h1__span4 = ' intro-section__h1-span2'
-   let ClassintroSectionForm = 'intro-section__form'
-   let ClassintroSectionForm__Wrapper = 'intro-section__form-wrapper'
-   let ClassintroSectionForm__Inner = 'intro-section__form-inner'
-   let ClassintroForm__button = 'introButton'
-   let ClassintroSection__imageWrapper = 'intro-section__image-wrapper'
-   let ClassintroSection__image = 'intro-section__image'
-   let ClassIntroSectionTextsInner = 'intro-section__texts-inner'
-   let ClassIntroSectionTexts = 'intro-section__texts'
-   let ClassIntroSectionText = 'intro-section__text'

//- Секция - helpers-section
-	let helpersSection = 'helpers-section'
-   let ClasshelpersSectionWrapper = 'helpers-section__wrapper'
-   let ClasshelpersSectionInner = 'helpers-section__inner'
-   let ClasshelpersSection__title = 'helpers-section__title'
-   let ClasshelpersSectionTitle__h2 = ' helpersSection-titleH2 '
-   let ClasshelpersSectionParagraph__p = ' helpersSection-paraghraph '
-   let ClasshelpersSection__h2__span3 = ' helpers-section__h2-span'
-   let ClasshelpersSectionForm = 'helpers-section__form'
-   let ClasshelpersSectionForm__Wrapper = 'helpers-section__form-wrapper'
-   let ClasshelpersSectionForm__Inner = 'helpers-section__form-inner'
-   let ClasshelpersForm__button = 'helpersButton'
-   let ClasshelpersSection__imageWrapper = 'helpers-section__image-wrapper'
-   let ClasshelpersSection__image = 'helpers-section__image'
-   let ClasshelpersSectionCard__Wrap = 'helpers-section__card-wrapper'
-   let ClasshelpersSectionCard = 'helpers-section__card'

//- Секция - integration-section
-   let ClassIntegrationSection = 'integration-section'
-   let ClassIntegrationSectionWrapper = 'integration-section__wrapper'
-   let ClassIntegrationSectionInner = 'integration-section__inner'
-   let ClassIntegrationSectionSpan = 'integration-section__span'
-   let ClassIntegrationSectionTitles = 'integration-section__title'

//- Секция - StepsWorking-section
-   let ClassStepsWorkingSection = 'stepsWorking-section'
-   let ClassStepsWorkingSectionWrapper = 'stepsWorking-section__wrapper'
-   let ClassStepsWorkingSectionWrapper1 = 'stepsWorking-section__wrapper1'
-   let ClassStepsWorkingSectionWrapper2 = 'stepsWorking-section__wrapper2'
-   let ClassStepsWorkingSectionInner = 'stepsWorking-section__inner'
-   let ClassStepsWorkingSectionSpan = 'stepsWorking-section__span'
-   let ClassStepsWorkingSectionLine = 'stepsWorking-section__line'
-   let ClassStepsWorkingSectionLineActive = 'stepsWorking-section__line-active'
-   let ClassStepsWorkingSectionLineCircle = 'stepsWorking-section__line-circle'
-   let ClassStepsWorkingSectionStep = 'stepsWorking-section__step'
-   let ClassStepsWorkingSectionStepBlock = 'stepsWorking-section__step-block'
-   let ClassStepsWorkingSectionTitle = 'stepsWorking-section__title'
-   let ClassStepsWorkingSectionText = 'stepsWorking-section__text'
-   let ClassStepsWorkingSectionText1 = 'stepsWorking-section__text1'
-   let ClassStepsWorkingSectionBlock = 'stepsWorking-section__block'
-   let stepsWorking__ID = 'stepsWorking-sectionID'

//- Секция - seo-section
-   let seoSection = 'seo-section'
-   let ClassseoSection__Wrapper = 'seo-section__wrapper'
-   let ClassseoSection__Image = 'seo-section__image'
-   let ClassseoSection__ImageBlock = 'seo-section__image-block'
-   let ClassseoSection__Block__Wrapper = 'seo-section__block-wrapper'
-   let ClassseoSection__ImageBlock__Title = 'seo-section__image-block-title'
-   let ClassseoSection__image__Wrapper = 'seo-section__image-wrapper'
-   let ClassseoSection__Block = 'seo-section__block'
-   let ClassseoSection__Block__Span = 'seo-section__block-span'
-   let ClassseoSection__Block__Paragraph = 'seo-section__block-paragraph'
-   let ClassseoSection__Block__Paragraph2 = 'seo-section__block-paragraph2'
-   let ClassseoSection__Block__link = 'seo-section__block-link'

//- Секция - mainForm-section
-   let mainForm__Section = 'mainForm-section'
-   let mainForm__Section__Wrapper = 'mainForm-section__wrapper'
-   let MainForm = 'mainForm'
-   let ClassMainForm__Wrapper = 'mainForm__wrapper'
-   let ClassMainForm__Inner = 'mainForm__inner'
-   let ClassMainForm__title = 'mainForm__title'
-   let ClassMainForm__select = 'mainForm__select'
-   let ClassMainForm__selectBlock = 'mainForm__select-block'
-   let MainFormSelectID = 'mainFormSelect'
-   let ClassMainForm__button = 'mainForm__button'
-   let mainFormShape = 'mainFormShape'
-   let MainFormID = 'MainFormID'
-   let MainFormName = 'MainFormName'

//- Секция - variantsSites - Section
-   let ClassVariantsSitesSection = 'variantsSitesSection'
-   let ClassVariantsSitesSection__Card = 'variantsSitesSection__card'


//- Секция - formDevelop - Section
-   let formDevelop = 'formDevelop'
-   let formDevelopSectionWrapper = 'formDevelop__wrapper'
-   let formDevelopText = 'formDevelop__text'
-   let ClassformDevelop__Inner = 'formDevelop__inner'

//- Секция - prices - Section
-   let ClassPricesSection = 'prices-section'
-   let ClassPricesSectionWrapper = 'prices-section__wrapper'
-   let ClassPricesSectionInner = 'prices-section__inner'
-   let ClassPricesSection__tarif = 'prices-section__tarif'
-   let ClassPricesSection__title = 'prices-section__title'
-   let ClassPricesSection__tarifWrapper = 'prices-section__tarif-wrapper'
-   let ClassPricesSection__tarifContent = 'prices-section__tarif-content'

//- Секция - tarifsHelp - Section
-   let ClassTarifsHelpSection = 'tarifsHelp-section'
-   let ClassTarifsHelpSectionWrapper = 'tarifsHelp-section__wrapper'
-   let ClassTarifsHelpSectionInner = 'tarifsHelp-section__inner'
-   let ClassTarifsHelpSection__imageWrapper = 'tarifsHelp-section__image-wrapper'
-   let ClassTarifsHelpSection__image = 'tarifsHelp-section__image'
-   let ClassTarifsHelpSection__titleWrapper = 'tarifsHelp-section__title-wrapper'
-   let ClassTarifsHelpSection__titleInner = 'tarifsHelp-section__title-inner'
-   let ClassTarifsHelpSection__title = 'tarifsHelp-section__title'

//- Секция - Circles - Section
-   let ClassCirclesSection = 'circles-section'
-   let ClassCirclesSectionWrapper = 'circles-section__wrapper'
-   let ClassCirclesSectionInner = 'circles-section__inner'
-   let ClassCirclesSection__circleWrapper = 'circles-section__circle-wrapper'
-   let ClassCirclesSection__circle = 'circles-section__circle'
-   let ClassCirclesSection__circleText__Wrapper = 'circles-section__circle-text-wrapper'
-   let ClassCirclesSection__circleText = 'circles-section__circle-text'
-   let ClassCirclesSection__circleText1 = 'circles-section__circle-text1'
-   let ClassCirclesSection__circleRunString1 = 'circles-section__circle-runString1'
-   let ClassCirclesSection__circleRunString2 = 'circles-section__circle-runString2'
-   let ClassCirclesSection__circleRunString3 = 'circles-section__circle-runString3'
-   let ClassCirclesSection__circleRunString4 = 'circles-section__circle-runString4'

//- Секция - trust - Section
-   let trustSection = 'trust-section'
-   let trustSectionWrapper = 'trust-section__wrapper'
-   let trustSectionInner = 'trust-section__inner'
-   let trustSectionText = 'trust-section__text'
-   let trustSectionArgument = 'trust-section__argument'
-   let trustSectionArgumentInner = 'trust-section__argument-inner'
-   let trustSectionBorder = 'trust-section__border'

//- Секция - seoPrice - Section
-   let seoPriceSection = 'seoPrice-section'
-   let seoPriceSectionWrapper = 'seoPrice-section__wrapper'
-   let seoPriceSectionInner = 'seoPrice-section__inner'
-   let seoPriceSection__Card = 'seoPrice-section__card'
-   let seoPriceSection__price = 'seoPrice-section__price'
-   let seoPriceSection__CardFooter = 'seoPrice-section__card-footer'
-   let seoPriceSection__cost = 'seoPrice-section__cost'
-   let seoPriceSection__pro = 'seoPrice-section__pro'

//- Секция - benefits - Section
-   let benefitsSection = 'benefits-section'
-   let benefitsSectionWrapper = 'benefits-section__wrapper'
-   let benefitsSectionInner = 'benefits-section__inner'
-   let benefitsSectionInner1 = 'benefits-section__inner1'

//- Секция - addTasks - Section
-   let addTasks = 'addTasks-section'
-   let addTasksWrapper = 'addTasks-section__wrapper'
-   let addTasksInner = 'addTasks-section__inner'
-   let addTasksCard = 'addTasks-section__card'
-   let addTasksCardImage = 'addTasks-section__card-image'
-   let addTasksCardWrapper = 'addTasks-section__card-wrapper'

//- Секция - cools - Section
-   let coolSection = 'cool-section'
-   let coolSectionWrapper = 'cool-section__wrapper'
-   let coolSectionInner = 'cool-section__inner'
-   let coolSection__imageWrapper = 'cool-section__image-wrapper'
-   let coolSection__image = 'cool-section__image'

//- Секция - footer
-   let ClassfooterWrapper = 'footer__wrapper'
-   let ClassfooterInner = 'footer__inner'
-   let ClassfooterBlock = 'footer__block'
-   let ClassfooterLine = 'footer__line'
-   let ClassfooterBlock__company = 'footer__block-company'
-   let ClassfooterBlock__telephone = 'footer__block-telephone'
-   let ClassfooterBlock__polite = 'footer__block-polite'
-   let ClassNavListFooter = 'navFooter'
-   let ClassListFooter = 'navFooter__list'
-   let ClassItemFooter = 'navFooter__item'
-   let ClassLinkFooter = 'navFooter__link'

//- ___________________________Popups_________________________

//- popupCall
-   let popupCall__mainID = 'popupCall__mainID'
-   let popupCallID = 'popupCall__ID'
-   let ClassPopupCall = 'PopupCall'
-   let ClassPopupCall__wrapper = 'PopupCall__wrapper'
-   let ClassCallButtonClose = 'PopupCallBtnClose'
-   let ClassPopupCallBtnWrapper = 'PopupCallBtnWrapper'