doctype html
block variables

html(lang="ru")
    block head
    block title
    body
        block styles
        include ../layout/header
        block content
        block footer
        block templates
        block scripts
        include ../partials/scripts/common