if mainPage
	link(rel="shortcut icon", href="favicon16x16.ico", type="image/x-icon")
	link(rel="icon", href="favicon.svg", type="image/svg+xml")
	link(type="image/png", sizes="16x16", rel="icon", href="favicon16x16.png")

	link(type="image/png", sizes="16x16", rel="icon", href="images/icons/favicons/favicon16x16.png")
	link(type="image/png", sizes="32x32", rel="icon", href="images/icons/favicons/favicon32x32.png")
	link(type="image/png", sizes="72x72", rel="icon", href="images/icons/favicons/favicon72x72.png")
	link(type="image/png", sizes="64x64", rel="icon", href="images/icons/favicons/favicon64x64.png")
	link(type="image/png", sizes="96x96", rel="icon", href="images/icons/favicons/favicon96x96.png")
	link(type="image/png", sizes="120x120", rel="icon", href="images/icons/favicons/favicon120x120.png")
	link(type="image/png", sizes="144x144", rel="icon", href="images/icons/favicons/favicon144x144.png")
	link(type="image/png", sizes="180x180", rel="icon", href="images/icons/favicons/favicon180x180.png")
	link(type="image/png", sizes="196x196", rel="icon", href="images/icons/favicons/favicon196x196.png")
	link(type="image/png", sizes="512x512", rel="icon", href="images/icons/favicons/favicon512x512.png")


	link(type="image/png", sizes="16x16", rel="apple-touch-icon", href="images/icons/favicons/favicon16x16.png")
	link(type="image/png", sizes="32x32", rel="apple-touch-icon", href="images/icons/favicons/favicon32x32.png")
	link(type="image/png", sizes="72x72", rel="apple-touch-icon", href="images/icons/favicons/favicon72x72.png")
	link(type="image/png", sizes="64x64", rel="apple-touch-icon", href="images/icons/favicons/favicon64x64.png")
	link(type="image/png", sizes="96x96", rel="apple-touch-icon", href="images/icons/favicons/favicon96x96.png")
	link(type="image/png", sizes="120x120", rel="apple-touch-icon", href="images/icons/favicons/favicon120x120.png")
	link(type="image/png", sizes="144x144", rel="apple-touch-icon", href="images/icons/favicons/favicon144x144.png")
	link(type="image/png", sizes="180x180", rel="apple-touch-icon", href="images/icons/favicons/favicon180x180.png")
	link(type="image/png", sizes="196x196", rel="apple-touch-icon", href="images/icons/favicons/favicon196x196.png")
	link(type="image/png", sizes="512x512", rel="apple-touch-icon", href="images/icons/favicons/favicon512x512.png")
	link(color="#ffffff", rel="mask-icon", href="favicon.svg")


	link(rel="manifest", href="manifest.webmanifest")
	meta(name="theme-color", content="#ffffff")

if anotherPage
	link(rel="shortcut icon", href="../favicon16x16.ico", type="image/x-icon")
	link(rel="icon", href="../favicon.svg", type="image/svg+xml")
	link(type="image/png", sizes="16x16", rel="icon", href="../favicon16x16.png")

	link(type="image/png", sizes="16x16", rel="icon", href="../images/icons/favicons/favicon16x16.png")
	link(type="image/png", sizes="32x32", rel="icon", href="../images/icons/favicons/favicon32x32.png")
	link(type="image/png", sizes="72x72", rel="icon", href="../images/icons/favicons/favicon72x72.png")
	link(type="image/png", sizes="64x64", rel="icon", href="../images/icons/favicons/favicon64x64.png")
	link(type="image/png", sizes="96x96", rel="icon", href="../images/icons/favicons/favicon96x96.png")
	link(type="image/png", sizes="120x120", rel="icon", href="../images/icons/favicons/favicon120x120.png")
	link(type="image/png", sizes="144x144", rel="icon", href="../images/icons/favicons/favicon144x144.png")
	link(type="image/png", sizes="180x180", rel="icon", href="../images/icons/favicons/favicon180x180.png")
	link(type="image/png", sizes="196x196", rel="icon", href="../images/icons/favicons/favicon196x196.png")
	link(type="image/png", sizes="512x512", rel="icon", href="../images/icons/favicons/favicon512x512.png")


	link(type="image/png", sizes="16x16", rel="apple-touch-icon", href="../images/icons/favicons/favicon16x16.png")
	link(type="image/png", sizes="32x32", rel="apple-touch-icon", href="../images/icons/favicons/favicon32x32.png")
	link(type="image/png", sizes="72x72", rel="apple-touch-icon", href="../images/icons/favicons/favicon72x72.png")
	link(type="image/png", sizes="64x64", rel="apple-touch-icon", href="../images/icons/favicons/favicon64x64.png")
	link(type="image/png", sizes="96x96", rel="apple-touch-icon", href="../images/icons/favicons/favicon96x96.png")
	link(type="image/png", sizes="120x120", rel="apple-touch-icon", href="../images/icons/favicons/favicon120x120.png")
	link(type="image/png", sizes="144x144", rel="apple-touch-icon", href="../images/icons/favicons/favicon144x144.png")
	link(type="image/png", sizes="180x180", rel="apple-touch-icon", href="../images/icons/favicons/favicon180x180.png")
	link(type="image/png", sizes="196x196", rel="apple-touch-icon", href="../images/icons/favicons/favicon196x196.png")
	link(type="image/png", sizes="512x512", rel="apple-touch-icon", href="../images/icons/favicons/favicon512x512.png")
	link(color="#ffffff", rel="mask-icon", href="../favicon.svg")

	link(rel="manifest", href="../manifest.webmanifest")
	meta(name="theme-color", content="#ffffff")