head
	if mainPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/vendor.min.css")
		link(rel="stylesheet", href="css/styles.min.css")
		include favicon
		title= indexTitles.index

	if developPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")
		include favicon
		title= indexTitles.develop

	if seoPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")
		include favicon
		title= indexTitles.seo

	if addTasksPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")
		include favicon
		title= indexTitles.addtasks