extends ../../layout/main.pug
include ../../modules/mixins/mixins

block variables
	include ../../abstraction/variables
	- let anotherPage= true
	- let seoPage= true
block head
	include ../../partials/head/head
block content
	div(class='overlay')
	button(type=button class="btnclose", id='btnclose')
		span(class='spanbtnclose')
		span(class='spanbtnclose')
	include ../../sections/header/header
	main(class=main)
		include ../../sections/intro-section/intro-section
		include ../../sections/trust-section/trust-section
		include ../../sections/seoPrice-section/seoPrice-section
		include ../../sections/formDevelop-section/formDevelop-section
		include ../../sections/tarifsHelp-sectiion/tarifsHelp-sectiion
		include ../../sections/benefits-section/benefits-section
		include ../../sections/mainForm-section/mainForm-section
block footer
	include  ../../sections/footer/footer
block templates
	include  ../../blocks/popups/popupCall