//- text 
mixin pText
    p(class=className)
        if block
            block
        
mixin p(text, className)
    if(className)
        p(class=base__text + ' ' + className)= text
    else  
        p(class=base__text)= text

mixin spanText(className, text)
    span(class=className)= text
        if block
            block